<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> - </title>
    <link rel="stylesheet" href="https://unpkg.com/maplibre-gl@^5.15.0/dist/maplibre-gl.css">
    <link rel="stylesheet" href="https://www.unpkg.com/maplibre-gl-opacity@1.8.0/build/maplibre-gl-opacity.css"/>
    <link href="/static/css/vc-toggle-switch.css" rel="stylesheet" />
	<link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/jquery-ui.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="https://unpkg.com/maplibre-gl@^5.15.0/dist/maplibre-gl.js"></script>

    <script src="/static/js/variables.js"></script>
    <script src="/static/js/configuracion.js"></script>
    <script src="/static/js/addLayers.js"></script>
    <script src="/static/js/operaciones.js"></script>


    <link rel="icon" href="/static/img/favicon.svg"/>
</head>
<body>


    {% block content %}

    {% endblock %}
</body>
</html>
